<%- include('partials/header.ejs'); %>
    <div class="jumbotron jumbotron-fluid mt-4">
        <div class="container">
            <h1 class="display-4">UPSI DUPSI</h1>
            <p class="lead">The Pokémon you were looking for is not available or it doesn't exist.</p>
            <p class="lead">Try again :)</p>
        </div>
    </div>
    <%- include('partials/footer.ejs'); %>
